{{ form_start(form) }}
<div class="col-md-12">
    <div class="form-group col-md-12">
        {{ form_row(form.title) }}
    </div>
    <div class="form-group col-md-4">
        {{ form_row(form.login) }}
    </div>
    <div class="form-group col-md-8">
        {{ form_row(form.key) }}
    </div>
    <div class="form-group col-md-12">
        {{ form_row(form.secret) }}
    </div>
</div>
{% include '_form-actions.html.twig' %}
{{ form_end(form) }}