{{ form_start(form) }}
<div class="col-md-12">
    <div class="form-group col-md-4">
        {{ form_row(form.login) }}
    </div>
    <div class="form-group col-md-8">
        {{ form_row(form.key) }}
    </div>
    <div class="form-group col-md-12">
        {{ form_row(form.secret) }}
    </div>
</div>
<div class="col-md-12">
    <div class="form-group col-md-4 pull-right">
        {{ form_row(form.submit) }}
    </div>
    <div class="form-group col-md-4 pull-right">
        <button class="form-control btn-primary pull-right btn-back-action" type="button">Отмена</button>
    </div>
</div>
{{ form_end(form) }}