{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
<div class="blog-header">
    <h1 class="blog-title">Список профайлов</h1>
    <p class="lead blog-description"></p>
</div>

<div class="row">
    {% include '_alert.html.twig' %}
    <div class="col-md-12 col-lg-12 col-xl-12">
        <a type="button" href="{{ path('profile_new') }}" class="btn btn-primary pull-right">Добавить профайл</a>
    </div>

    <div class="col-sm-12 blog-main">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Логин</th>
                    <th>Ключ</th>
                    <th>Дата</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.id }}</td>
                    <td>{{ profile.title|e }}</td>
                    <td>{{ profile.login|e }}</td>
                    <td>{{ profile.key }}</td>
                    <td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('profile_show', {'id': profile.id}) }}"><i class="glyphicon glyphicon-search"></i></a>
                        <a href="{{ path('profile_edit', {'id': profile.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                        {% include '_delete_form.html.twig' with {'entity':'profile', 'entity_id': profile.id} %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Ничего найдено</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}