{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="blog-header">
    <h1 class="blog-title">Профайл #{{ profile.id }}</h1>
    <p class="lead blog-description">{{ profile.title | e }}</p>
</div>

<div class="row">
    <div class="col-sm-12 blog-main">
        <div class="blog-post">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Login</th>
                    <td>{{ profile.login }}</td>
                </tr>
                <tr>
                    <th>Key</th>
                    <td>{{ profile.key }}</td>
                </tr>
                <tr>
                    <th>Secret</th>
                    <td>{{ profile.secret }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Last Ads Update</th>
                    <td class="last-ads-update">{{ profile.lastAdsUpdate ? profile.lastAdsUpdate|date('Y-m-d H:i:s') : ' - ' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 center-block text-center">
                    <a class="btn btn-primary" href="{{  path('profile_index') }}">Список профайлов</a>
                    <a class="btn btn-primary" href="{{ path('profile_edit', {'id': profile.id}) }}">Изменить</a>
                    <a class="btn btn-default" id="btnUpdateAds" href="#userAds" dataUrl="{{ path('profile_update_ads', {'id': profile.id}) }}">Обновить объявления</a>
                    <a class="btn btn-default" href="{{ path('task_index', {'profile_id': profile.id}) }}">Список задач</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="blog-post-title">Задачи</div>
        <!-- TODO implement ajax form loader using profile.id E!!! -->
        {% include 'task/_form.html.twig' with {'form':form, 'short':true, 'profile':profile} %}
    </div>
</div>
<div class="row">
    <a name="userAds"></a>
    <div class="col-sm-12" id="listUserAds">
        {% include 'profile/_ads-list.html.twig' with {'ads': ads} %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/task.js') }}"></script>
{% endblock %}